@import "base.less";


// 导航部分
#nav {
    padding: 0px 10px;
    margin-top: 10px;
    .mui-row {
        >div>a {
            display: block;
            img {
                width: 100%;
            }   
        }
    }
}
// 活动部分
#activity {
    padding: 0px 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    .mui-row >div {
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    }
}
// 品牌专区
#brand {
    padding: 0px 10px;
    .title,.content {
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    }
}
// 运动生活专区
#sport,#girl,#boy {
    padding: 0px 10px;
    .title {
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    }
    .content {
        >div {
            padding: 8px;
            a {
                display: block;
                box-shadow: 0px 0px 3px #666; 
                text-align: center;
                padding: 0px 3px 10px;
                img {
                    width: 100%;
                }
                p {
                    margin-bottom: 10px;
                }
                >span {
                    color: red;
                    font-size: 14px;
                    margin-right: 10px;
                }
                del {
                    color: #ccc;
                    font-size: 14px;
                }
                .mui-btn-primary {
                    margin-top: 10px;
                }
            }
        } 
    }
}

